html{
    font-family: Arial,sans-serif;
    background: #f7f7f7;
    font-size: 20px;
}
.logo{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    margin-top: 5rem;
}

.link-bar{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 7rem 0;
}
.link-bar a {
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 1rem 2rem;
    border-radius: 4px;

}
.link-bar a:hover{
    background-color: red;
}

.button2{
    text-decoration: none;
    background: red;
    /*padding: 1rem 2rem;*/
    border-radius: 4px;
    color: white;
    margin-top: 10rem;

}
article p{
    font-size: 32px;
}
article{
    width: 29rem;
    justify-self: end;
    padding: 1rem;
}

article h2:after{
    content: "";
    display: inline-block;
    width: 4rem;
    height: 0.3rem;
    background: red;
    position:relative;
    margin-left:28rem;
}
.description-and-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: end;
}

.description-and-images img{
    width: 30rem;
    grid-column: 2;
    justify-self: start;
}

.advantages{
    display: inline-block;
    font-size: 64px;
    grid-column: 1;
    font-weight: bold;
    color: #c6c6c6;
    background-image: url("img/onda.svg");
    padding: 5rem 1rem;
}

.benefits h4,p{
    margin-bottom: 0;
}
.benefits{
    margin-right: auto;
    display:grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;

}
.benefits:nth-child(odd){
    background-color: #c6c6c6;
}

.benefits{
    text-decoration: none;
}
.benefits .image{
    width: 2rem;
    grid-column: 1;
    margin: 1rem 1rem;


}
.benefits p{
    grid-column: 2  ;
}
